.catalogue{
    display: flex;
    height: 100%;
    justify-content: space-around;
}
.paginas{
    display: block;
    text-align: center;
    flex-direction: unset;
}
.columna{
    display: flex;
    flex-direction: column; 
    background-color: teal;
    padding-bottom: 15px;
}
.Card{
    display:flex;
    width: 1300px;
}
.img{
    width: 250px;
    height: 250px;
}
.img-details{
    width: 400px;
    height: 400px;
}
.details{
    align-items: center;
}
.all{
    background-color: lightgray;
}
.barTitle{
    color: black;
}